<div class="card__view {{class}}">
    <div class=""><!-- Make these classes dynamic 'social twitter/linkedin/vimeo/youtube/instagram' 'video' 'without-image' -->
        <a href="javascript:;" class="card__view--items">
            <div class="card__view--content">
                <div class="mask"></div>
                {% set bgImg = network.templatePath~'/static/images/test-image.jpg' %}
                <figure class="image-covered" style="background-image: url({{bgImg}})"></figure>
                <div class="optionSet">
                    <ul>
                        <li>Hide <span class="fa fa-eye-slash"></span></li>
                        <li>Pin <span class="fa fa-map-marker"></span></li>
                        <li>Edit <span class="fa fa-cog"></span></li>
                    </ul>
                </div>
                <div class="social-icons"></div>
                <div class="video-play"></div>
                <div class="content__section-block">
                    <div class="content__section">
                        <div class="content__section-userInfo"> 
                            <div class="content__section-userInfo-image image-covered" style="background-image: url({{bgImg}})"></div> 
                            <div class="content__section-userInfo-content"> 
                                <span>Rebekah Brown</span> 
                                <span class="designation">Director of Monash Sustainable Development Institute</span> 
                            </div> 
                        </div>
                        <div class="clearfix"></div>
                        <h2 class="content__section-heading">With Image card</h2>
                        <div class="content__section-description">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                        <div class="content__section-button">
                            <button href="javascript:;" class="button button--radius button--red">Learn more</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>