<footer class="footer">
    <div class="footer__top image-covered">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer__top-content">
                        <h2>Join the conversation</h2>
                        <div class="footer__top-listing">
                            <ul>
                                <li>
                                    <a target="_blank" href="https://www.instagram.com/monash_uni"><span class="fa fa-instagram"></span></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.linkedin.com/company/monash-university"><span class="fa fa-linkedin"></span></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/Monash.University"><span class="fa fa-facebook"></span></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://twitter.com/MonashUni"><span class="fa fa-twitter"></span></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://plus.google.com/+MonashUniversity"><span class="fa fa-google-plus"></span></a>
                                </li>
                                <li>
                                    <a target="_blank" href="http://monashuni.tumblr.com"><span class="fa fa-tumblr-square"></span></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.youtube.com/user/monashunivideo"><span class="fa fa-youtube-square"></span></a>
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.weibo.com/monashuniversityaust"><span class="fa fa-weibo"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__main">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer__main-content">
                                <div class="disclaimer-text">
                                    Authorised by: Chief Marketing Officer, Strategic Marketing and Communications. Maintained by: eSolutions Service Desk. Last updated: Aug 2017.<br/>
                                    Copyright &copy; 2017 Monash University. ABN 12 377 614 012 Accessibility - Disclaimer and copyright - Privacy, Monash University CRICOS Provider Number: 00008C, Monash College CRICOS Provider Number: 01857J. Monash University is a registered higher education provider under the TEQSA Act 2011.<br/>
                                    We acknowledge and pay respects to the Elders and Traditional Owners of the land on which our five Australian campuses stand. Information for Indigenous Australians
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>