<div class="page__content-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-0">
                <div class="error">
                    <div class="error__content">
                        <p class="large">Sorry, we can't find the resource you were looking for.</p> 
                        <a href="/" class="button button--radius button--red">Back to Homepage</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>