@charset "UTF-8";
/* CSS Document */
/*! ATTENTION:This project uses SASS! Please make your CSS edits in sass/default.scss. */
/* Basic Includes
   ================================ */
/* Needed Γû╕ Colors */
/* Social Γû╕ Colors */
/* Button Colors */
/* Border Γû╕ Widths */
/* Widths Γû╕ Window Width */
/* Media Query Breakpoints */
/* Padding */
/* Transition */
/* Sizes */
/* Gradient Mixin */
/* Image Cover Size */
/* Transform */
/* rotate */
/* scale */
/* translate */
/* skew */
/* transform origin */
/* Font Mixin */
/* Lovely mixins for making all your font needs delightful */
/*
 Internet Explorer 10 doesn't differentiate device width from viewport width, and thus doesn't 
 properly apply the media queries in Bootstrap's CSS. To address this, 
 you can optionally include the following CSS and JavaScript to work around this problem until Microsoft issues a fix.
*/
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
/*
 Internet Explorer 10 doesn't differentiate device width from viewport width, 
 and thus doesn't properly apply the media queries in Bootstrap's CSS. To address this, following CSS code applied 
*/
@-ms-viewport {
  width: auto !important; }
.clearfix:before, .clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

html {
  color: #505050;
  background: #ffffff; }

body.noscroll {
  position: fixed;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Custom Grid
   ================================ */
@media screen and (min-width: 200px) and (max-width: 480px) {
  .col-xxs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xxs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xxs-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xxs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xxs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xxs-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xxs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xxs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xxs-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xxs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xxs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xxs-12 {
    flex: 0 0 100%;
    max-width: 100%; } }
/* --------------------------------------------------------------

   typography.css
   * Sets up some sensible default typography.

-------------------------------------------------------------- */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'LatoLight';
  src: url("../fonts/lato/LatoLight.eot");
  src: url("../fonts/lato/LatoLight.eot") format("embedded-opentype"), url("../fonts/lato/LatoLight.woff2") format("woff2"), url("../fonts/lato/LatoLight.woff") format("woff"), url("../fonts/lato/LatoLight.ttf") format("truetype"), url("../fonts/lato/LatoLight.svg#LatoLight") format("svg"); }
@font-face {
  font-family: 'LatoRegular';
  src: url("../fonts/lato/LatoRegular.eot");
  src: url("../fonts/lato/LatoRegular.eot") format("embedded-opentype"), url("../fonts/lato/LatoRegular.woff2") format("woff2"), url("../fonts/lato/LatoRegular.woff") format("woff"), url("../fonts/lato/LatoRegular.ttf") format("truetype"), url("../fonts/lato/LatoRegular.svg#LatoRegular") format("svg"); }
@font-face {
  font-family: 'LatoBold';
  src: url("../fonts/lato/LatoBold.eot");
  src: url("../fonts/lato/LatoBold.eot") format("embedded-opentype"), url("../fonts/lato/LatoBold.woff2") format("woff2"), url("../fonts/lato/LatoBold.woff") format("woff"), url("../fonts/lato/LatoBold.ttf") format("truetype"), url("../fonts/lato/LatoBold.svg#LatoBold") format("svg"); }
@font-face {
  font-family: 'LatoBlack';
  src: url("../fonts/lato/LatoBlack.eot");
  src: url("../fonts/lato/LatoBlack.eot") format("embedded-opentype"), url("../fonts/lato/LatoBlack.woff2") format("woff2"), url("../fonts/lato/LatoBlack.woff") format("woff"), url("../fonts/lato/LatoBlack.ttf") format("truetype"), url("../fonts/lato/LatoBlack.svg#LatoBlack") format("svg"); }
/* Open Sans Font */
strong, .strong {
  font-weight: 700; }

em, .em {
  font-style: italic; }

/* Weight
   ================================ */
.txt-dec-none {
  text-decoration: none; }

html, body {
  font-family: "LatoRegular", Arial, sans-serif;
  font-size: 1rem;
  color: #898989; }

h1, h2, h3 {
  font-family: "LatoRegular", Arial, sans-serif; }

h4, h5, h6 {
  font-family: "LatoRegular", Arial, sans-serif; }

.form-section h2 {
  font-family: "LatoRegular", Arial, sans-serif; }

.header-heading {
  margin-bottom: 15px; }

.font-light, .banner__section-content h1, .cta-wrap__subscribe .cta-wrap__main--title, .cta-wrap__about .cta-wrap__main--title, .cta-wrap__learning .cta-wrap__main--title {
  font-family: "LatoLight", Arial, sans-serif; }

.font-regular, .table--customized tbody td span, .cta-wrap__subscribe .cta-wrap__main--description, .cta-wrap__about .cta-wrap__main--description, .cta-wrap__learning .cta-wrap__main--description {
  font-family: "LatoRegular", Arial, sans-serif; }

.font-bold, .table--customized thead th, .table--customized tbody td, .cta-wrap__main--description {
  font-family: "LatoBold", Arial, sans-serif; }

a, a:link, a:visited, a:active {
  color: inherit;
  text-decoration: none; }

/* Typography
------------------------------------*/
h1 {
  line-height: 1.6 !important; }

h2 {
  line-height: 1.5 !important; }

h3 {
  line-height: 1.4 !important; }

h4 {
  line-height: 1.3 !important; }

h5 {
  line-height: 1.2 !important; }

h6 {
  line-height: 1.2 !important; }

p {
  /* color: $darkgrey; */
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 15px;
  letter-spacing: 1px;
  line-height: 1.5 !important; }

ul, ol {
  position: relative; }
  ul li, ol li {
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: -0.0135em;
    list-style: none; }
    ul li a:hover, ol li a:hover {
      text-decoration: none;
      transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in; }

ol li {
  list-style-position: outside; }

.marker-list li {
  list-style: square;
  list-style-position: inside; }

iframe {
  border: none; }

q {
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: -0.0135em;
  font-size: 1.125rem;
  line-height: 1.35rem;
  font-style: italic;
  color: #505050; }

.fs-52 {
  font-size: 3.25rem;
  line-height: 3.9rem; }

/* 
 Pixel to REM

10px 	0.625rem
11px 	0.6875rem
12px 	0.75rem
13px 	0.8125rem
14px 	0.875rem
15px 	0.9375rem
16px 	1rem
17px 	1.0625rem
18px 	1.125rem
19px 	1.1875rem
20px 	1.25rem
21px 	1.3125rem
22px 	1.375rem
23px 	1.4375rem
24px 	1.5rem
25px 	1.5625rem
26px 	1.625rem
27px 	1.6875rem
28px 	1.75rem
29px 	1.8125rem
30px 	1.875rem
31px 	1.9375rem
32px 	2rem
33px 	2.0625rem
34px 	2.125rem
35px 	2.1875rem
36px 	2.25rem
37px 	2.3125rem
38px 	2.375rem
39px 	2.4375rem
40px 	2.5rem
41px 	2.5625rem
42px 	2.625rem
43px 	2.6875rem
44px 	2.75rem
45px 	2.8125rem
46px 	2.875rem
47px 	2.9375rem
48px 	3rem
49px 	3.0625rem
50px 	3.125rem
51px 	3.1875rem
52px 	3.25rem
53px 	3.3125rem
54px 	3.375rem
55px 	3.4375rem
56px 	3.5rem
57px 	3.5625rem
58px 	3.625rem
59px 	3.6875rem
60px 	3.75rem
61px 	3.8125rem
62px 	3.875rem
63px 	3.9375rem
64px 	4rem

*/
/* Begin Basic Coding
   ================================ */
/* Basic 
----------------------------- */
html,
body {
  width: 100%;
  height: 100%;
  min-height: 100% !important; }

body {
  height: auto;
  background: #ffffff none repeat scroll 0 0;
  color: #333333;
  font-family: "LatoRegular", Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul li, ol li {
  font-weight: 400; }

.page__body {
  padding: 7.5pxrem 0rem 5pxrem; }

/* End Basic Coding
   ================================ */
/* Miscellaneous Includes
   ================================ */
/* Global classes
================================ */
.upper {
  text-transform: uppercase; }

.hide {
  display: none; }

.divider-line {
  margin: 20px 0 40px;
  width: 100%;
  position: relative;
  float: left;
  clear: left; }
  .divider-line:before {
    content: '';
    height: 2px;
    width: 40px;
    background: #e5e5e5 none repeat scroll 0 0;
    position: absolute;
    left: 0;
    top: 0; }
  .divider-line--width80:before {
    width: 80px; }
  .divider-line--space40 {
    margin: 40px 0 60px; }

.mt--c4 {
  margin-top: 4rem !important; }
.mt--c5 {
  margin-top: 5rem !important; }
.mt--c6 {
  margin-top: 6rem !important; }
.mt--c7 {
  margin-top: 7rem !important; }

.fullwidth {
  width: 100% !important; }

.green-color {
  color: #31eeab; }

.white--bg {
  background: #ffffff !important; }
.white--color {
  color: #ffffff !important; }

.offwhite--bg {
  background: #e9ded0 !important; }
  .offwhite--bg-opacity02 {
    background: rgba(233, 222, 208, 0.2) !important; }
.offwhite--color {
  color: #e9ded0 !important; }

.red--bg {
  background: #d0021b !important; }
.red--color {
  color: #d0021b !important; }

.darkBlue--bg {
  background: #282e3e !important; }
.darkBlue--color {
  color: #282e3e !important; }

.badge--success, .label--success {
  background: #40dea0 none repeat scroll 0 0; }
.badge--danger, .label--danger {
  background: #d71f29 none repeat scroll 0 0; }
.badge--warning, .label--warning {
  background: #fcba08 none repeat scroll 0 0; }
.badge--info, .label--info {
  background: #129eff none repeat scroll 0 0; }

.image-covered, .cta-wrap.bg-image {
  -webkit-background-size: cover;
  /* Chrome, Safari, Opera */
  -moz-background-size: cover;
  /* Mozilla Firefox */
  -ms-background-size: cover;
  /* IE 9 */
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

@media screen and (min-width: 200px) and (max-width: 480px) {
  .mobile-responsive__fullwidth {
    width: 100%; } }
@media screen and (max-width: 575px) {
  .mobile-responsive__fullwidth--d599 {
    width: 100%; } }
@media screen and (max-width: 575px) {
  .mobile-responsive__px0-to-10 {
    padding-left: 10px !important;
    padding-right: 10px !important; } }

.containerFluid-content {
  width: calc(1320px / 2 - 10px);
  float: right; }
  .containerFluid-content-left {
    float: left; }
  .containerFluid-content-margin100 {
    width: calc(1320px / 2 - 100px); }
    @media (max-width: 1320px) {
      .containerFluid-content-margin100 {
        width: calc(1140px / 2 - 100px); } }
  @media (max-width: 1320px) {
    .containerFluid-content {
      width: calc(1140px / 2 - 10px); } }
  @media screen and (max-width: 1199px) {
    .containerFluid-content {
      width: calc(960px / 2 - 10px); } }
  @media screen and (max-width: 991px) {
    .containerFluid-content {
      width: calc(720px / 2 - 10px); } }
  @media screen and (max-width: 767px) {
    .containerFluid-content {
      width: 100%;
      max-width: calc(540px - 20px);
      float: none;
      margin: 0 auto; } }

@media screen and (max-width: 767px) {
  .flip-containers .flex-last {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }
  .flip-containers .flex-first {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; } }

.flex-unordered {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0; }

.flex-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1; }

.flex-last {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }

.no-data {
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 60px 0 15px;
  padding: 1.5625pxrem 0rem;
  background: #f2f2f2 none repeat scroll 0 0;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .no-data p {
    margin-bottom: 0px; }
  .no-data.less-space {
    margin: 20px 0;
    padding: 0.9375pxrem 0rem; }

.no-link {
  cursor: default !important; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.load__more {
  width: 100%;
  text-align: center;
  margin: 40px 0; }
  .load__more .button {
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0.5pxrem 1.875pxrem;
    background: #11466b none repeat scroll 0 0 !important;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #ffffff; }

/* Custom Grid
   ================================ */
/* articles section
================================ */
.button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 1rem 1.375rem;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 1.125rem;
  line-height: 1.35rem;
  line-height: 1;
  letter-spacing: 1.6px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  font-family: "LatoRegular", Arial, sans-serif; }
  .button--small {
    padding: 0.625pxrem 1pxrem; }
  .button--block {
    width: 100%;
    display: block; }
  .button--rounded {
    -webkit-border-radius: 25px;
    border-radius: 25px; }
  .button--radius {
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  .button__bordered--grey {
    border-color: #979797 !important;
    color: #505050 !important;
    background: none repeat scroll 0 0; }
    .button__bordered--grey:hover, .button__bordered--grey:focus {
      color: #ffffff !important;
      background: #979797 none repeat scroll 0 0; }
  .button--grey {
    background: #505050 none repeat scroll 0 0;
    color: #ffffff !important;
    border-color: #505050; }
    .button--grey:hover, .button--grey:focus {
      background: #646464 none repeat scroll 0 0; }
  .button--blue {
    background: #11466b none repeat scroll 0 0;
    color: #ffffff !important;
    border-color: #11466b; }
    .button--blue:hover, .button--blue:focus {
      background: #175d8e none repeat scroll 0 0;
      border-color: #175d8e; }
  .button--black {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff !important;
    border-color: #000000; }
    .button--black:hover, .button--black:focus {
      background: #141414 none repeat scroll 0 0;
      border-color: #141414; }
  .button--lightBlue {
    background: #1fb4e7 none repeat scroll 0 0;
    color: #ffffff !important;
    border-color: #1fb4e7; }
    .button--lightBlue:hover, .button--lightBlue:focus {
      background: #44c0eb none repeat scroll 0 0;
      border-color: #44c0eb; }
  .button--red {
    background: #d0021b none repeat scroll 0 0;
    color: #ffffff !important;
    border-color: #d0021b; }
    .button--red:hover, .button--red:focus {
      background: #f80220 none repeat scroll 0 0;
      border-color: #f80220; }
  .button--green {
    background: #31eeab none repeat scroll 0 0;
    color: #282e3e !important;
    border-color: #31eeab; }
    .button--green:hover, .button--green:focus {
      background: #13e399 none repeat scroll 0 0;
      border-color: #13e399; }
  .button__icon--left {
    margin-right: 8px; }
  .button__icon--right {
    margin-left: 8px; }
  .button:focus {
    outline: none; }

/* form section
================================ */
.form-group.has-error {
  border-color: #d71f29; }
  .form-group.has-error::-webkit-input-placeholder {
    color: #d71f29; }
  .form-group.has-error:-moz-placeholder {
    /* Firefox 18- */
    color: #d71f29; }
  .form-group.has-error::-moz-placeholder {
    /* Firefox 19+ */
    color: #d71f29; }
  .form-group.has-error:-ms-input-placeholder {
    color: #d71f29; }

input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="search"], input[type="url"], input[type="number"], select, textarea {
  display: block;
  width: 100%;
  padding: 4px 15px;
  outline: none;
  line-height: 28px;
  font-weight: 300;
  /* color: $grey; */
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
  box-shadow: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background: #ffffff none repeat scroll 0 0; }

input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="search"], input[type="url"], input[type="number"] {
  height: 46px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="url"]:focus, input[type="email"]:focus, input[type="search"]:focus {
  border-color: #11466b;
  background: #ffffff none repeat scroll 0 0; }
input.input--small36[type="text"], input.input--small36[type="password"], input.input--small36[type="tel"], input.input--small36[type="email"], input.input--small36[type="search"], input.input--small36[type="url"], input.input--small36[type="number"] {
  height: 36px; }

/* banner section
================================ */
.banner__section {
  height: 100vh;
  min-height: 500px;
  position: relative; }
  .banner__section:after {
    content: '';
    z-index: 99;
    background: #000000;
    /* Old browsers */
    background: -moz-linear-gradient(legacy-direction(rgba(25, 44, 84, 0.2)), #000000);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(legacy-direction(rgba(25, 44, 84, 0.2)), #000000);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(rgba(25, 44, 84, 0.2), #000000);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="rgba(25, 44, 84, 0.2)", EndColorStr="#000000");
    /* IE6-9 */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .banner__section-content {
    position: relative;
    z-index: 100;
    max-width: 700px;
    width: 90%;
    height: 100vh;
    min-height: 500px; }
    .banner__section-content .play-icon {
      margin-top: 2.5rem; }
      .banner__section-content .play-icon:before {
        content: '\f144';
        font-family: "FontAwesome";
        color: #d0021b;
        font-size: 8.75rem;
        line-height: 10.5rem; }
    .banner__section-content h1 {
      font-size: 3.125rem;
      line-height: 3.75rem;
      line-height: 1.3 !important;
      color: #ffffff; }
      @media screen and (max-width: 575px) {
        .banner__section-content h1 {
          font-size: 1.875rem;
          line-height: 2.25rem; } }
    .banner__section-content p {
      font-size: 1.25rem;
      line-height: 1.5rem;
      padding: 0rem 1.25pxrem;
      color: #ffffff;
      opacity: 0.8;
      filter: alpha(opacity=80);
      /* @extend .font-medium; */
      margin-top: 30px; }
    .banner__section-content .button {
      margin-top: 40px; }
      @media screen and (max-width: 767px) {
        .banner__section-content .button {
          margin-top: 40px; } }

/* table section
================================ */
.table--customized thead th {
  font-size: 1rem;
  line-height: 1.2rem;
  color: #000000;
  border: none; }
.table--customized tbody td {
  background: #f9f6f3 none repeat scroll 0 0;
  border-top: 15px solid #ffffff;
  position: relative;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #000000; }
  .table--customized tbody td span {
    display: block;
    font-size: 0.75rem;
    line-height: 0.9rem;
    margin-top: 5px; }
  .table--customized tbody td:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    display: block;
    background: #adacac none repeat scroll 0 0; }

/* Page Header section
================================ */
.header {
  padding: 1.5625rem 0rem;
  z-index: 9999;
  width: 100%;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  position: absolute;
  background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
  -webkit-box-shadow: transparent 0px 1px 1.5px 1px;
  -moz-box-shadow: transparent 0px 1px 1.5px 1px;
  -ms-box-shadow: transparent 0px 1px 1.5px 1px;
  box-shadow: transparent 0px 1px 1.5px 1px;
  top: 0;
  left: 0; }
  .header__section {
    width: 100%; }
    .header__section-left .main-logo {
      display: block;
      width: 80px;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease; }
    .header__section-right .button {
      padding: 0.9375rem 2.1875rem;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease; }
      @media screen and (max-width: 1199px) {
        .header__section-right .button {
          padding: 1.0625pxrem 0.75pxrem;
          font-size: 0.8125rem;
          line-height: 0.975rem; } }
  .header__fixed {
    padding: 0.9375rem 0rem;
    background: white none repeat scroll 0 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1.5px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1.5px 1px;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1.5px 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1.5px 1px;
    position: fixed; }
    .header__fixed .header__section-left .main-logo {
      width: 50px; }
    .header__fixed .header__section-right .button {
      padding: 0.75rem 1.875rem;
      font-size: 0.875rem;
      line-height: 1.05rem; }

/* Page Footer section
================================ */
.footer-main {
  padding: 1.875rem 0rem;
  border-top: 1px solid #d2dce3; }
  .footer-main__container {
    width: 100%; }
    @media screen and (max-width: 767px) {
      .footer-main__container {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        box-orient: vertical; } }
    .footer-main__container--logo a {
      display: block;
      width: 50px; }
    .footer-main__container__listing {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      @media screen and (max-width: 767px) {
        .footer-main__container__listing {
          margin: 15px 0;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          -ms-box-orient: vertical;
          box-orient: vertical;
          text-align: center; } }
      .footer-main__container__listing--items {
        margin: 0 20px;
        font-size: 1.125rem;
        line-height: 1.35rem; }
        @media screen and (max-width: 1199px) {
          .footer-main__container__listing--items {
            font-size: 1rem;
            line-height: 1.2rem;
            margin: 0 10px; } }
        @media screen and (max-width: 767px) {
          .footer-main__container__listing--items {
            margin: 10px 0px; } }
    .footer-main__container__social {
      width: 120px; }
      @media screen and (max-width: 991px) {
        .footer-main__container__social {
          width: 170px;
          text-align: center; } }
      .footer-main__container__social a {
        color: #11466b;
        margin: 0 6px; }

/* Page Footer section
================================ */
.cta-wrap {
  position: relative;
  z-index: 10;
  padding: 2.5rem 0.625rem; }
  .cta-wrap__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 12; }
    .cta-wrap__main--title {
      font-size: 3.125rem;
      line-height: 3.75rem;
      color: #ffffff; }
    .cta-wrap__main--description {
      font-size: 1.5rem;
      line-height: 1.8rem;
      color: #ffffff; }
    .cta-wrap__main--buttons {
      margin-top: 1.875rem; }
      .cta-wrap__main--buttons a {
        margin: 0rem 0.5rem; }
      @media screen and (max-width: 767px) {
        .cta-wrap__main--buttons {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          -ms-box-orient: vertical;
          box-orient: vertical;
          width: 100%; }
          .cta-wrap__main--buttons a {
            margin: 0.5rem 0rem;
            text-align: center; } }
  .cta-wrap.blue-bg {
    background-color: #11466b; }
  .cta-wrap.bg-image:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11; }
  .cta-wrap.bg-image--overly-blue:before {
    background-color: rgba(17, 70, 107, 0.8); }
  .cta-wrap.bg-image--overly-white:before {
    background-color: rgba(255, 255, 255, 0.8); }
  .cta-wrap__subscribe {
    margin: 4.0625rem 0rem; }
    .cta-wrap__subscribe .cta-wrap__main {
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
      @media screen and (max-width: 991px) {
        .cta-wrap__subscribe .cta-wrap__main {
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          -ms-box-orient: vertical;
          box-orient: vertical; } }
      .cta-wrap__subscribe .cta-wrap__main--sl {
        margin-right: 7.5rem;
        width: 600px; }
        @media screen and (max-width: 991px) {
          .cta-wrap__subscribe .cta-wrap__main--sl {
            width: 100%;
            margin-right: 0rem;
            text-align: center;
            padding: 0rem 1.5625rem;
            margin-bottom: 1.25rem; } }
      .cta-wrap__subscribe .cta-wrap__main--sr {
        max-width: 750px;
        width: 100%; }
        .cta-wrap__subscribe .cta-wrap__main--sr .input-group {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          height: 60px; }
          .cta-wrap__subscribe .cta-wrap__main--sr .input-group input {
            -webkit-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
            height: 60px; }
            .cta-wrap__subscribe .cta-wrap__main--sr .input-group input:focus {
              border-color: #ffffff; }
          .cta-wrap__subscribe .cta-wrap__main--sr .input-group .button {
            -webkit-border-radius: 0px 4px 4px 0px;
            border-radius: 0px 4px 4px 0px; }
          @media screen and (min-width: 200px) and (max-width: 480px) {
            .cta-wrap__subscribe .cta-wrap__main--sr .input-group {
              -webkit-flex-direction: column;
              -moz-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-orient: vertical;
              -moz-box-orient: vertical;
              -ms-box-orient: vertical;
              box-orient: vertical; }
              .cta-wrap__subscribe .cta-wrap__main--sr .input-group input {
                -webkit-border-radius: 4px;
                border-radius: 4px; }
              .cta-wrap__subscribe .cta-wrap__main--sr .input-group .button {
                margin-top: 0.625rem;
                -webkit-border-radius: 4px;
                border-radius: 4px; } }
      .cta-wrap__subscribe .cta-wrap__main--title {
        font-size: 1.875rem;
        line-height: 2.25rem; }
      .cta-wrap__subscribe .cta-wrap__main--description {
        font-size: 1rem;
        line-height: 1.2rem;
        line-height: 1.56;
        opacity: 0.8;
        filter: alpha(opacity=80);
        margin-top: 12px; }
  .cta-wrap__action .cta-wrap__main {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 0.75rem; }
    .cta-wrap__action .cta-wrap__main--logo {
      width: 80px;
      margin-bottom: 25px; }
    .cta-wrap__action .cta-wrap__main--description {
      max-width: 650px;
      text-align: center; }
    .cta-wrap__action .cta-wrap__main--buttons a {
      padding: 0.75rem 1.375rem; }
  .cta-wrap__about {
    padding: 5.9375rem 0rem 6.5625rem; }
    .cta-wrap__about .cta-wrap__main {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
      .cta-wrap__about .cta-wrap__main--title {
        color: #000000; }
      .cta-wrap__about .cta-wrap__main--description {
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: #505050;
        margin-top: 1.25rem;
        max-width: 750px; }
  .cta-wrap__learning {
    padding: 4.375rem 0rem; }
    .cta-wrap__learning .cta-wrap__main {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
      -ms-align-items: flex-end;
      align-items: flex-end; }
      .cta-wrap__learning .cta-wrap__main--sr {
        background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        width: 550px;
        height: 550px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        box-orient: vertical;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: space-between;
        padding: 4.375rem 3.125rem; }
      .cta-wrap__learning .cta-wrap__main--title {
        color: #000000; }
      .cta-wrap__learning .cta-wrap__main--description {
        color: #505050;
        margin-top: 1.25rem;
        line-height: 1.83; }

/* cards section
================================ */
.card-wrap h3 {
  margin: 4.375rem 0rem 3.75rem; }
.card__view {
  margin-bottom: 20px; }
  .card__view--content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: flex-end;
    overflow: hidden; }
    .card__view--content figure {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 10;
      margin-bottom: 0;
      top: 0;
      left: 0;
      display: block; }
    .card__view--content .social-icons {
      display: none; }
    .card__view--content .content__section {
      background-color: #fdfdfd;
      opacity: 0.9;
      filter: alpha(opacity=90);
      z-index: 11;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      min-height: 160px;
      padding: 1.25rem 0.9375rem; }
      .card__view--content .content__section-heading {
        font-size: 1.125rem;
        line-height: 1.35rem;
        overflow: hidden;
        max-height: 120px;
        font-family: "LatoBold", Arial, sans-serif;
        padding-bottom: 0.3125rem; }
        @media screen and (max-width: 767px) {
          .card__view--content .content__section-heading {
            font-size: 1.375rem;
            line-height: 1.65rem; } }
      .card__view--content .content__section-description {
        font-size: 1rem;
        line-height: 1.2rem;
        max-height: 150px;
        overflow: hidden; }
      .card__view--content .content__section-userInfo {
        display: flex;
        align-items: center;
        margin-bottom: 20px; }
        .card__view--content .content__section-userInfo-image {
          width: 30px;
          height: 30px;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          margin-right: 15px; }
        .card__view--content .content__section-userInfo-content {
          width: calc(100% - 35px); }
          .card__view--content .content__section-userInfo-content .designation {
            display: block;
            font-size: 0.75rem;
            line-height: 0.9rem;
            color: #787878;
            margin-top: 4px; }
        .card__view--content .content__section-userInfo-hide {
          display: none; }
    .card__view--content .optionSet {
      position: absolute;
      top: 10px;
      left: 0;
      width: 85px;
      opacity: 0;
      filter: alpha(opacity=0);
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      z-index: 999; }
      .card__view--content .optionSet li {
        color: #ffffff;
        padding: 0.3125rem 0.625rem;
        font-size: 0.8125rem;
        line-height: 0.975rem;
        position: relative;
        background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease; }
        .card__view--content .optionSet li + li {
          border-top: 1px solid rgba(0, 0, 0, 0.2); }
        .card__view--content .optionSet li span {
          position: absolute;
          top: 50%;
          right: 0;
          -webkit-transform: translate(0, -50%);
          /* Chrome, Safari, Opera */
          -moz-transform: translate(0, -50%);
          /* Mozilla Firefox */
          -o-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          /* IE 9 */
          transform: translate(0, -50%);
          text-align: center;
          width: 30px; }
          .card__view--content .optionSet li span.fa-spin {
            top: 6px !important; }
        .card__view--content .optionSet li:hover, .card__view--content .optionSet li:focus {
          background: black none repeat scroll 0 0; }
  .card__view .without-image .card__view--content {
    background-color: #fafafa; }
    .card__view .without-image .card__view--content figure {
      background-image: none !important; }
    .card__view .without-image .card__view--content .content__section {
      height: 100%; }
  .card__view .video .card__view--content .video-play {
    width: 33px;
    height: 33px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #f7f7f7;
    position: relative;
    z-index: 99;
    position: absolute;
    top: 10px;
    right: 10px; }
    .card__view .video .card__view--content .video-play:after {
      content: '\f04b';
      font-family: "FontAwesome";
      font-size: 1rem;
      line-height: 1.2rem;
      line-height: 1;
      color: #f2f2f2;
      position: absolute;
      top: 50%;
      left: 54%;
      -webkit-transform: translate(-50%, -50%);
      /* Chrome, Safari, Opera */
      -moz-transform: translate(-50%, -50%);
      /* Mozilla Firefox */
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      /* IE 9 */
      transform: translate(-50%, -50%);
      cursor: pointer; }
  .card__view .social.video .card__view--content .video-play {
    top: 60px; }
  .card__view .social .card__view--content .content__section-userInfo-content .designation {
    display: none; }
  .card__view .social .card__view--content .social-icons {
    display: block;
    text-align: center;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 11; }
    .card__view .social .card__view--content .social-icons:before {
      content: '';
      font-family: "FontAwesome";
      font-size: 1.25rem;
      line-height: 1.5rem;
      line-height: 35px;
      color: #b7af98; }
  .card__view .social.twitter .card__view--content .social-icons {
    background-color: #000000; }
    .card__view .social.twitter .card__view--content .social-icons:before {
      content: '\f099'; }
  .card__view .social.facebook .card__view--content .social-icons {
    background-color: #000000; }
    .card__view .social.facebook .card__view--content .social-icons:before {
      content: '\f09a'; }
  .card__view .social.linkedin .card__view--content .social-icons {
    background-color: #000000; }
    .card__view .social.linkedin .card__view--content .social-icons:before {
      content: '\f0e1'; }
  .card__view .social.instagram .card__view--content .social-icons {
    background-color: #000000; }
    .card__view .social.instagram .card__view--content .social-icons:before {
      content: '\f16d'; }
  .card__view .social.youtube .card__view--content .social-icons {
    background-color: #000000; }
    .card__view .social.youtube .card__view--content .social-icons:before {
      content: '\f167'; }
  .card__view .social.vimeo .card__view--content .social-icons {
    background-color: #000000; }
    .card__view .social.vimeo .card__view--content .social-icons:before {
      content: '\f27d'; }
  .card__view--items {
    display: block;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease; }
    .card__view--items:hover, .card__view--items:focus {
      -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2); }
      .card__view--items:hover .card__view--content .optionSet, .card__view--items:focus .card__view--content .optionSet {
        opacity: 1;
        filter: alpha(opacity=100); }

/* Dependencies Breakup section
================================ */
/* Begin choosen select styling */
.chosen-container {
  min-height: 40px; }
  .chosen-container.chosen-container-single .chosen-single {
    height: 40px;
    border-color: #d2dce3;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    cursor: pointer; }
    .chosen-container.chosen-container-single .chosen-single span {
      font-weight: 400;
      color: #505050;
      font-size: 0.9375rem;
      line-height: 1.125rem;
      line-height: 38px; }
    .chosen-container.chosen-container-single .chosen-single div > b {
      display: none; }
    .chosen-container.chosen-container-single .chosen-single div:before {
      width: 20px;
      height: 20px;
      content: "\f107";
      display: block;
      padding-top: 9px;
      margin-left: -8px;
      vertical-align: top;
      font-family: "FontAwesome";
      font-weight: 300;
      color: #505050;
      font-size: 1rem;
      line-height: 1.2rem;
      cursor: pointer; }
  .chosen-container.chosen-container-active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none; }
    .chosen-container.chosen-container-active .chosen-single {
      border-color: #11466b; }
  .chosen-container .chosen-drop {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(80, 80, 80, 0.176);
    -moz-box-shadow: 0 6px 12px rgba(80, 80, 80, 0.176);
    -ms-box-shadow: 0 6px 12px rgba(80, 80, 80, 0.176);
    box-shadow: 0 6px 12px rgba(80, 80, 80, 0.176); }
    .chosen-container .chosen-drop .chosen-search {
      padding: 2.5px 5px; }
      .chosen-container .chosen-drop .chosen-search input[type="text"] {
        height: 32px;
        border-color: #d2dce3;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
        background-position: 100% -21px; }
        .chosen-container .chosen-drop .chosen-search input[type="text"]:focus {
          border-color: #11466b; }
    .chosen-container .chosen-drop .chosen-results {
      margin: 0px;
      padding: 0px;
      max-height: 150px;
      padding-bottom: 5px; }
      .chosen-container .chosen-drop .chosen-results li {
        cursor: pointer;
        padding: 2px 5px;
        text-align: left;
        border: 0px none !important;
        color: #505050;
        font-size: 1rem;
        line-height: 1.2rem;
        line-height: 25px; }
        .chosen-container .chosen-drop .chosen-results li:hover {
          border: 0px none !important;
          background: #f5f5f5 none repeat scroll 0 0 !important; }
        .chosen-container .chosen-drop .chosen-results li.highlighted {
          border: 0px none !important;
          background: none repeat scroll 0 0; }
        .chosen-container .chosen-drop .chosen-results li.result-selected {
          background: #f5f5f5 none repeat scroll 0 0 !important; }

/* Use this class if Search is not required under Select */
.cog-select .chosen-container .chosen-drop .chosen-search input[type="text"] {
  display: none; }

/* End choosen select styling */
.fancybox-inner .fancybox-content, .fancybox-inner iframe {
  background: none !important;
  overflow: hidden !important; }
  .fancybox-inner .fancybox-content img, .fancybox-inner iframe img {
    width: 100%;
    height: 100%; }
.fancybox-inner .fancybox-slide > * {
  background: none !important; }
.fancybox-inner .fancybox-slide .slick-video {
  width: 60%; }
  @media screen and (max-width: 575px) {
    .fancybox-inner .fancybox-slide .slick-video {
      width: 100%; } }

.ellip {
  display: block;
  height: 100%; }

.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 100%; }

.ellip,
.ellip-line {
  position: relative;
  overflow: hidden; }

/* Pages Includes
   ================================ */
