/* articles section
================================ */
.button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    @include padding(16 22);
    display: inline-block;
    border: 1px solid $transparent;
    @include font-size(18); 
    line-height: 1;
    letter-spacing: 1.6px; 
    @include transition(all 0.3s ease);
    font-family: $primary-fonts-regular;
    &--small {
        @include padding(10px 16px);
    }
    &--block {
        width: $viewportSize;
        display: block;
    }
    &--rounded {
        @include border-radius(25px);
    }
    &--radius {
        @include border-radius(4px); 
    }
    &__bordered {
        &--grey {
            border-color: #979797 !important;
            color: $black !important;
            background: none repeat scroll 0 0;
            &:hover, &:focus { 
                color: $white !important;
                background: #979797 none repeat scroll 0 0;
            }
        }
    }
    &--grey {
        background: $black none repeat scroll 0 0;
        color: $white !important;
        border-color: $black;
        &:hover, &:focus {
            background: lighten($black, 8%) none repeat scroll 0 0; 
        }
    }
    &--blue {
        background: $blue none repeat scroll 0 0;
        color: $white !important;
        border-color: $blue;
        &:hover, &:focus {
            background: lighten($blue, 8%) none repeat scroll 0 0;
            border-color: lighten($blue, 8%);
        }
    }
    &--black {
        background: $zblack none repeat scroll 0 0;
        color: $white !important;
        border-color: $zblack;
        &:hover, &:focus {
            background: lighten($zblack, 8%) none repeat scroll 0 0;
            border-color: lighten($zblack, 8%);
        }
    }
    &--lightBlue {
        background: $light-blue none repeat scroll 0 0;
        color: $white !important;
        border-color: $light-blue;
        &:hover, &:focus {
            background: lighten($light-blue, 8%) none repeat scroll 0 0;
            border-color: lighten($light-blue, 8%);
        }
    }
    &--red {
        background: $red none repeat scroll 0 0;
        color: $white !important;
        border-color: $red;
        &:hover, &:focus {
            background: lighten($red, 8%) none repeat scroll 0 0;
            border-color: lighten($red, 8%); 
        }
    }
    &--green {
        background: $green none repeat scroll 0 0;
        color: $darkBlue !important;
        border-color: $green;
        &:hover, &:focus {
            background: darken($green, 8%) none repeat scroll 0 0;
            border-color: darken($green, 8%); 
        }
    }
    &__icon {
        &--left {
            margin-right: 8px;
        }
        &--right {
            margin-left: 8px;
        }
    }
    &:focus {
        outline: none;
    }
}