/* Page Header section
================================ */
.header {
    @include padding(25 0); 
    z-index: 9999;
    width: $viewportSize;
    @include transition(all 0.3s ease);
    position: absolute;
    background: rgba($white, 0) none repeat scroll 0 0;
    @include box-shadow(rgba(0,0,0,0) 0px 1px 1.5px 1px);
    top: 0;
    left: 0;
    @media #{$media-desktop} {
        @include padding(15 0); 
    }
    @media #{$media-ipadSmall} {
        @include padding(8 0); 
    }
    &__section {
        width: $viewportSize;
        &-left {
            .main-logo {
                display: block;
                width: 70px;
                @include transition(all 0.3s ease);
                @media #{$media-desktop} {
                    width: 50px;
                }
                @media #{$media-ipadSmall} {
                    width: 30px;
                }
            }
        }
        &-right {
            .button {
                @include padding(15 35);
                @include transition(all 0.3s ease);
                @media #{$media-desktop} {
                    @include padding(12 30);
                    @include font-size(13);
                }
                @media #{$media-ipadSmall} {
                    @include padding(8 12);
                    @include font-size(12);
                }
            }
        }
    }
    &__fixed {
        @include padding(10 0);
        background: rgba($white, 1) none repeat scroll 0 0;
        @include box-shadow(rgba(0,0,0,0.2) 0px 1px 1.5px 1px);
        position: fixed;
        @media #{$media-ipadSmall} {
            @include padding(8 0);
        }
        .header__section {
            &-left {
                .main-logo {
                    width: 40px;
                    @media #{$media-desktop} {
                        width: 30px;
                    }
                    @media #{$media-ipadSmall} {
                        width: 30px;
                    }
                }
            }
            &-right {
                .button {
                    @include padding(8 12);
                    @include font-size(12);
                    @media #{$media-ipadSmall} {
                        @include padding(8 12);
                        @include font-size(12);
                    }
                }
            }
        }
    }
}